doctype html
html(lang="en",ng-app="HOW")
	head
		meta(charset="utf-8")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="viewport", content="ser-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0")
		title Hello World Open Bot
		link(rel="stylesheet", type="text/css", href="/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/css/main.css")
		script(src='/jquery/dist/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/angular/angular.min.js')
		script(src='/js/main.js')
	body(ng-controller="MainCtrl")
		div
			select(ng-model="botHandler")
				option(value="default") Default
				option(value="garrett") Garrett
				option(value="jeff") Jeff
				option(value="karl") Karl
			button(ng-click="start()") Start
		h4 Current Cars
		table.table
			thead
				td Color
				td Current Track Piece
				td Current Lane
				td Speed
				td Angle
				td Distance Within Piece
				td Game Ticks
			tbody
				tr(ng-repeat="c in colors")
					td {{c}}
					td {{cars[c].pieceIndex}}
					td {{cars[c].lane}}
					td {{cars[c].speed.toFixed(2)}}
					td {{cars[c].angle.toFixed(2)}}
					td {{cars[c].inPieceDistance.toFixed(2)}}
					td {{cars[c].gameTick}}

		h4 Crashes
		table.table
			thead
				td Color
				td Speed
				td Angle
				td Piece
				td Game Tick
			tbody
				tr(ng-repeat="c in crashes")
					td {{c.me.color}}
					td {{c.me.speed}}
					td {{c.me.angle}}
					td {{c.me.piece}}
					td {{c.gameTick}}
		h4 Laps
		table.table
			thead
				td Car
				td #
				td Time
				td Ticks
			tbody
				tr(ng-repeat="lap in laps")
					td {{lap.car.color}}
					td {{lap.lapTime.lap}}
					td {{lap.lapTime.millis}}
					td {{lap.lapTime.ticks}}
		h4 Track Pieces
		table.table
			thead
				td #
				td Length
				td Angle
				td Radius
				td Switch
			tbody
				tr(ng-repeat="p in pieces")
					td {{pieces.indexOf(p)}}
					td {{p.length}}
					td {{p.angle}}
					td {{p.radius}}
					td {{p.switch}}
		h4 Messages Received
		table.table
			tr(ng-repeat="d in data")
				td {{d.msgType}}
				td {{d.gameTick}}
